.main-banner {
    height: 450px;
    background-repeat: no-repeat;
    background-position: 0%, 100%;
    background-size: cover;
    background-blend-mode: darken;
    background-image: url('client-dark-vip-cinema-studio.jpg');
}

.form-movie {
    width: 250px;
}

.list-section {
    background: linear-gradient(rgb(35, 35, 35), rgb(23, 23, 23));
    
}

.btn-outline-primary {
    color: rgb(149, 149, 149)!important;
    background-color: transparent!important;
    background-image: none!important;
    border-width: 2px!important;
    border-color: rgb(149, 149, 149)!important;
    font-family: Roboto Slab;
}

.btn-outline-primary:hover {
    color: rgb(255, 255, 255)!important;
    background-color: rgb(149, 149, 149)!important;
    border-color: rgb(149, 149, 149)!important;
}
.discover-title{
    transition: transform 0.3s ease;
}   
.discover-title:hover{
    transform: scale(1.2);
}
.section-movies{
    border: 1px solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #212121;
    box-shadow: -15px 5px 10px rgb(25, 25, 25);
}
.section-movies-1{
    border: 1px solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #212121;
    box-shadow: 15px 5px 10px rgb(25, 25, 25);
}


.movie-card{
    color: white;
    background: rgb(39, 39, 39);
    border-radius: 10px;
    border: 1px solid rgb(25, 25, 25);
    box-shadow: 0px 0px 10px rgb(25, 25, 25);
    margin-bottom: 5px;
}
