<!-- edit_movie.html -->
{% include 'header.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'movieform.css' %}" />
{% block content %}
  <div class="d-flex justify-content-center flex-column ">
    <h2 class="text-center">{% if movie.pk %}Edit Movie{% endif %}</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="text-center">
        <button type="submit" class="btn btn-outline-primary">Save</button>
      </div>
    </form>
  </div>
{% endblock %}
