<!-- movie_detail.html -->
{% include "header.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ object.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'moviedetail.css' %}">
</head>
<body class="text-center">
    <h1 class="text-center">{{ object.title }}</h1>
    <div class="text-center d-inline-flex flex-column movie-list">
        <ul class="list-group list-css mb-3">
            <li class="list-group-item">This movie got {{object.rotten_rating}} out of 10 at Beyazperde</li>
            <li class="list-group-item">This movie got {{object.meta_rating}}  out of 5 at Letterbox from users</li>
            <li class="list-group-item">This movie got {{object.imdb_rating}} at IMDB</li>
        </ul>

        <!-- Conditional display of Edit Movie button -->
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href="{% url 'edit_movie' pk=object.pk %}" class="btn btn-outline-primary">Edit Movie</a>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
