<!-- movie_form.html -->
{% include 'header.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'movieform.css' %}" />
{% block content %}
  <h2 class="text-center">
    {% if movie.pk %}
      Edit Movie
    {% else %}
      Add Movie
    {% endif %}
  </h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
  </form>
{% endblock %}
