{% include "header.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ object.title }}</title>
</head>
<body>
    <h1>{{ object.title }}</h1>
    <div>
     
     <li>  Movie ID: {{object.ID}} </li>
     <li>  This movie got {{object.imdb_rating}} at IMDB</li>
     <li>  This movie got {{object.rotten_rating}} at RottenTomatoes</li>
     <li>  This movie got {{object.meta_rating}} at Metacritic</li>
     <li>  This movie has {{object.pg_rating}} pg rating</li>
     
     </div>
</body>
</html>